<div class="row" style="margin-top: 10px; margin-left: 0; margin-right: 0;">
    <div class="col-xs-1">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="create()">Nouveau</button>
            </div>
        </div>
    </div>
    <div class="col-xs-2" style="border: 1px solid black;">
        <div class="row">
            <div class="col-xs-12" style="border: 1px solid black; text-align: center;"><b>NEW</b></div>
            <div ng-repeat="ticket in newTicket | orderBy: 'id'" class="col-xs-12" style="background-color: lightyellow; border: 1px solid black;">
                <div class="row">
                    <div class="col-xs-10" ng-click="update(ticket.id)">
                        <div class="row">No: {{ticket.id}}</div>
                        <div class="row">{{ticket.contact}}</div>
                    </div>
                    <div class="col-xs-1 glyphicon glyphicon-remove" style="color: darkred;" ng-click="delete(ticket.id)"></div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-6" style="text-align: center;">
                        <a href="" ng-click="nextStatus(ticket.id)">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2" style="border: 1px solid black;">
        <div class="row">
            <div class="col-xs-12" style="border: 1px solid black; text-align: center;"><b>TO DO</b></div>
            <div ng-repeat="ticket in todoTicket | orderBy: 'id'" class="col-xs-12" style="background-color: lightyellow; border: 1px solid black;">
                <div class="row">
                    <div class="col-xs-10" ng-click="update(ticket.id)">
                        <div class="row">No: {{ticket.id}}</div>
                        <div class="row">{{ticket.contact}}</div>
                    </div>
                    <div class="col-xs-1 glyphicon glyphicon-remove" style="color: darkred;" ng-click="delete(ticket.id)"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6" style="text-align: center;">
                        <a href="" ng-click="prevStatus(ticket.id)">Prev</a>
                    </div>
                    <div class="col-xs-6" style="text-align: center;">
                        <a href="" ng-click="nextStatus(ticket.id)">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2" style="border: 1px solid black;">
        <div class="row">
            <div class="col-xs-12" style="border: 1px solid black; text-align: center;"><b>DONE</b></div>
            <div ng-repeat="ticket in doneTicket | orderBy: 'id'" class="col-xs-12" style="background-color: lightyellow; border: 1px solid black;">
                <div class="row">
                    <div class="col-xs-10" ng-click="update(ticket.id)">
                        <div class="row">No: {{ticket.id}}</div>
                        <div class="row">{{ticket.contact}}</div>
                    </div>
                    <div class="col-xs-1 glyphicon glyphicon-remove" style="color: darkred;" ng-click="delete(ticket.id)"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6" style="text-align: center;">
                        <a href="" ng-click="prevStatus(ticket.id)">Prev</a>
                    </div>
                    <div class="col-xs-6" style="text-align: center;">
                        <a href="" ng-click="nextStatus(ticket.id)">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2" style="border: 1px solid black;">
        <div class="row">
            <div class="col-xs-12" style="border: 1px solid black; text-align: center;"><b>BAG</b></div>
            <div ng-repeat="ticket in bagTicket | orderBy: 'id'" class="col-xs-12" style="background-color: lightyellow; border: 1px solid black;">
                <div class="row">
                    <div class="col-xs-10" ng-click="update(ticket.id)">
                        <div class="row">No: {{ticket.id}}</div>
                        <div class="row">{{ticket.contact}}</div>
                    </div>
                    <div class="col-xs-1 glyphicon glyphicon-remove" style="color: darkred;" ng-click="delete(ticket.id)"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6" style="text-align: center;">
                        <a href="" ng-click="prevStatus(ticket.id)">Prev</a>
                    </div>
                    <div class="col-xs-6" style="text-align: center;">
                        <a href="" ng-click="nextStatus(ticket.id)">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2" style="border: 1px solid black;">
        <div class="row">
            <div class="col-xs-12" style="border: 1px solid black; text-align: center;"><b>RELEASED</b></div>
            <div ng-repeat="ticket in releasedTicket | orderBy: 'id'" class="col-xs-12" style="background-color: lightyellow; border: 1px solid black;">
                <div class="row">
                    <div class="col-xs-10" ng-click="update(ticket.id)">
                        <div class="row">No: {{ticket.id}}</div>
                        <div class="row">{{ticket.contact}}</div>
                    </div>
                    <div class="col-xs-1 glyphicon glyphicon-remove" style="color: darkred;" ng-click="delete(ticket.id)"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6" style="text-align: center;">
                        <a href="" ng-click="prevStatus(ticket.id)">Prev</a>
                    </div>
                    <div class="col-xs-6" style="text-align: center;">
                        <a href="" ng-click="nextStatus(ticket.id)">Archiver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1">
        <div class="row">Stock</div>
        <div class="row" ng-repeat="fleur in fleurs | orderBy: 'id'" ng-style="fleur.stock<=0?{'color':'red'}:{}">
            <div class="col-xs-9">{{fleur.affichage}}</div>
            <div class="col-xs-1">{{fleur.stock || 0}}</div>
        </div>
    </div>
</div>